.container_principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
   
}
.formulario{
    background-color: rgb(99, 77, 119);
    padding: 15px;
    border-radius: 15px;
    width: 415px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
form h2{
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Segoe UI';
    color: rgb(211, 211, 211);
}
input[type="text"], input[type="password"], input[type="email"]{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px ;
    font-size: 15px;
    border: 1px solid #fff;
}
input[type="submit"]{
    width: 50%;
    padding: 10px;
    background-color: #81479c;
    border: none;
    border-radius: 5px;
    
    font-size: 17px;
    cursor: pointer;
    color: #fff;
}
input[type="submit"]:hover{
    background-color: #c1a3cf;
}